[submodule "src/rosbridge_cpp/include/Simple-WebSocket-Server"]
	path = src/rosbridge_cpp/include/Simple-WebSocket-Server
	url = https://gitlab.com/eidheim/Simple-WebSocket-Server.git
[submodule "src/uros/micro_ros_msgs"]
	path = src/uros/micro_ros_msgs
	url = https://github.com/micro-ROS/micro_ros_msgs.git
[submodule "src/uros/micro-ROS-Agent"]
	path = src/uros/micro-ROS-Agent
	url = https://github.com/micro-ROS/micro-ROS-Agent.git
	branch = humble
[submodule "src/sllidar_ros2"]
	path = src/sllidar_ros2
	url = https://github.com/Slamtec/sllidar_ros2.git
[submodule "src/sim_car"]
	path = src/sim_car
	url = git@github.com:berickson/sim_car.git
[submodule "src/nav2_line_following_controller"]
	path = src/nav2_line_following_controller
	url = git@github.com:berickson/nav2_line_following_controller.git
[submodule "src/detection_visualizer"]
	path = src/detection_visualizer
	url = https://github.com/ros2/detection_visualizer
